:root {
  --container-width: 176.5px;
}

/* GENERAL MODS */
* {
  box-sizing: border-box;
}

body {
  background-color: #eff2f6;
  font-family: "Inter", sans-serif;
  color: #393f47;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.main-page {
  display: flex;
  flex-direction: row;
}

.left-panel {
  min-width: var(--container-width);
}

/* START OF HEADER */
.header {
  width: 100%;
  height: 74px;
  background-color: #ffffff;
  align-items: center;
}

.logo {
  margin: 27px 0 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo .login-box {
  display: none;
}
.container {
  width: 800px;
  padding: 0 22px;
  margin: 0 auto;
  display: flex;
}

.container-page {
  margin-top: 34px;
}

.header .logo {
  min-width: var(--container-width);
}

.navigation {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-input {
  border: 1px solid #aaa;
  color: #7f8b99;
  width: 203px;
  height: 40px;
  font-size: 16px;
  margin: 0 13px 0 0;
  padding: 0 0 0 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.keywords {
  margin-left: 15px;
}
.location {
  width: 153px;
}
.search-box {
  border: 1px solid #0b71d9;
  background-color: #0b71d9;
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  width: 106px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box:active {
  border: 1px solid #085eb3;
  background-color: #085eb3;
}
.login-box {
  border: 1px solid #0b71d9;
  background-color: #ffffff;
  width: 80px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #0b71d9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box:active {
  border: 1px solid #085eb3;
  background-color: #eaeaea;
}
/* END OF TOPROW */

/* START OF LEFTPANEL */
.filters-box-list {
  background-color: #eff2f6;
  width: 170px;
  height: 430px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.filters-box {
  background-color: #eff2f6;
  width: 150px;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 15px 0 32px;
  display: flex;
  border-radius: 5px;
  display: flex;
  justify-content: left;
}
.dateOfPosting-box {
  background-color: #eff2f6;
  width: 150px;
  height: 115px;
  margin: 15px 15px 0 32px;
  flex-direction: column;
  display: flex;
  border-radius: 5px;
  align-items: left;
  justify-content: left;
}
.dateOfPosting {
  font-size: 16px;
  font-weight: bold;
}
.dateOfPosting-type {
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
  margin-left: 5px;
  border: none;
  padding: 0 0 0 0;
}
.dateOfPosting-type:focus {
  outline: 0;
  color: #8b95a3;
}
.salary-box {
  background-color: #eff2f6;
  width: 150px;
  height: 115px;
  margin: 15px 15px 0 32px;
  flex-direction: column;
  display: flex;
  border-radius: 5px;
  align-items: left;
  justify-content: left;
}
.salary {
  font-size: 16px;
  font-weight: bold;
}
.salary-type {
  font-size: 14px;
  font-weight: normal;
  margin-left: 5px;
  margin-top: 5px;
}
.jobType-box {
  background-color: #eff2f6;
  width: 150px;
  height: 130px;
  margin: 15px 0 0 32px;
  flex-direction: column;
  display: flex;
  border-radius: 5px;
  align-items: left;
  justify-content: left;
}
.jobType {
  font-size: 16px;
  font-weight: bold;
}
.jobType-type {
  font-size: 14px;
  font-weight: normal;
  margin-left: 5px;
  margin-top: 5px;
}
.any-type {
  font-size: 14px;
  font-weight: bold;
  color: #5bb50e;
}
/* END OF LEFTPANEL */

/* START OF JOBSPANEL */
.jobs-panel {
  background-color: #eff2f6;
  width: 100%;
  height: 425px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.jobs-box-list {
  background-color: #eff2f6;
  width: 100%;
  height: 115px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.jobs-title {
  font-size: 24px;
  font-weight: bold;
  background-color: #eff2f6;
  width: 55px;
  height: 25px;
}
.jobs-count {
  background-color: #eff2f6;
  font-weight: bold;
  width: auto;
  margin: 10px 0 15px 0;
}
.email-box {
  border: 1px solid #aaa;
  background-color: #ffffff;
  font-size: 14px;
  width: 212px;
  height: 38px;
  margin: 0 0 0 0;
  padding: 0 0 0 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.switch {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  border: 1px solid #b8bfc6;
  border-radius: 34px;
  width: 32px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: #b8bfc6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #e6e6e6;
}
input:focus + .slider {
  box-shadow: 0 0 1px #e6e6e6;
}
input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round::before {
  border-radius: 50%;
}
.search-box-list {
  background-color: #eff2f6;
  width: 100%;
  height: 100%;
  margin: 14px 0 0 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.results {
  background-color: #eff2f6;
  color: #7f8b99;
  size: 14px;
  width: 115px;
  margin: 0 0 15px 0;
}
.result-one {
  border: 1px solid #d0d6dd;
  background-color: #ffffff;
  font-size: 14px;
  width: 581px;
  height: 190px;
  padding: 0 0 0 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: left;
}
.result-title {
  font-size: 18px;
  color: #0b71d9;
  font-weight: bold;
  margin: 5px 0 0 0;
}
.result-role {
  background-color: #ffffff;
  width: 80px;
  font-size: 14px;
  display: flex;
  margin: 7px 0 0 0;
}
.briefcase {
  margin: 9px 4px 0 0;
}
.sketch {
  margin: 7px 0 0 0;
}
.result-description {
  font-size: 13px;
  margin: 7px 0 0 0;
}
.result-location {
  background-color: #ffffff;
  color: #7f8b99;
  width: 200px;
  font-size: 14px;
  display: flex;
  margin: 12px 0 0 0;
}
.city {
  margin: 0 0 0 5px;
}
.result-time {
  background-color: #ffffff;
  color: #7f8b99;
  width: 220px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  margin: 3px 0 0 0;
}
.date {
  margin: 1px 5px 10px 0;
}
.remote-job-box {
  border: 1px solid #e07a14;
  background-color: #ffffff;
  color: #e07a14;
  font-size: 12px;
  width: 75px;
  height: 18px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.remote-job-box-mobile {
  display: none;
}
.result-time-mobile {
  display: none;
}
.result-two {
  border: 1px solid #d0d6dd;
  background-color: #ffffff;
  font-size: 14px;
  width: 581px;
  height: 190px;
  margin: 14px 0 14px 0;
  padding: 0 0 0 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.filter-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 17px;
}

.filter-list {
  font-size: 14px;
  margin-bottom: 26px;
  list-style-type: none;
  padding: 0;
}

.filter-item {
  margin-bottom: 5px;
  cursor: pointer;
}

.filter-item-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  cursor: default;
}
.result-three {
  display: none;
}
